<!-- This is ugly - Player card location of the randomly generated list, based on the static list -->
{%- set player_card_1 = player_cards[session.game_state.player_card_order[session.game_state.player_card_location]] %}
{%- set player_card_2 = player_cards[session.game_state.player_card_order[session.game_state.player_card_location + 1]] %}

{%- for card in [player_card_1, player_card_2] %}
<div class="col-2" style="padding-bottom: 5px;">
    <div class="card">
        <div class="card-body" style="padding-bottom: 0px;padding-top: 5px">
            <h5 class="card-title">
                {{ card.name }}
            </h5>
            <p class="card-text" style="margin-bottom: 0px;">
                {{ card.task }}
            </p>
            <table class="table table-sm table-bordered" style="margin-bottom: 0px;">
                <tbody>
                    <tr>
                        {% for i in card.task_count_vp %}
                        <td><b>{{ i }}</b></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in card.task_count_vp %}
                        <td>{{ card.task_count_vp[i] }} VP</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm text-start" style="margin-bottom: 0px;">
                <tbody>
                    <tr>
                        <td><b>Shape:</b></td>
                        <td>
                            <table class="table table-sm table-bordered mb-0 text-center">
                                <tbody>
                                    {%- if card.shape == "l" %}
                                    <tr><td></td><td></td><td class="hw-shape"></td></tr>
                                    <tr><td class="hw-shape"></td><td class="hw-shape"></td><td class="hw-shape"></td></tr>
                                    {%- elif card.shape == "s" %}
                                    <tr><td></td><td class="hw-shape"></td><td class="hw-shape"></td></tr>
                                    <tr><td class="hw-shape"></td><td class="hw-shape"></td><td></td></tr>
                                    {%- elif card.shape == "t" %}
                                    <tr><td></td><td class="hw-shape"></td><td></td></tr>
                                    <tr><td class="hw-shape"></td><td class="hw-shape"></td><td class="hw-shape"></td></tr>
                                    {%- elif card.shape == "square" %}
                                    <tr><td class="hw-shape"></td><td class="hw-shape"></td></tr>
                                    <tr><td class="hw-shape"></td><td class="hw-shape"></td></tr>
                                    {%- elif card.shape == "long" %}
                                    <tr><td></td><td></td><td></td><td></td></tr>
                                    <tr><td class="hw-shape"></td><td class="hw-shape"></td><td class="hw-shape"></td><td class="hw-shape"></td></tr>
                                    {%- endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Resources:</b></td>
                        <td>
                            <table class="table table-sm table-bordered mb-0 text-center">
                                <tbody>
                                    {%- for resource in card.resources %}
                                        {%- if resource == "soldier" %}
                                        <td class="hw-soldier">Soldier</td>
                                        {% elif resource == "builder" %}
                                        <td class="hw-builder">Builder</td>
                                        {% elif resource == "servant" %}
                                        <td class="hw-servant">Servant</td>
                                        {% elif resource == "civilian" %}
                                        <td class="hw-civilian">Civilian</td>
                                        {% elif resource == "stone" %}
                                        <td class="hw-stone">Stone</td>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Market:</b></td>
                        <td class="text-center">{{ card.market }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/pickplayercard/{{ loop.index }}" class="btn btn-secondary">Select Path: {{ card.name }}</a>
    </div>
</div>
{%- endfor %}