<div class="col-4"></div>
<div class="col-2" style="padding-bottom: 5px;">
    <div class="card">
        <div class="card-body" style="padding-bottom: 0px;padding-top: 5px">
            <h5 class="card-title">
                Pict Attack
            </h5>
            <table class="table table-sm table-bordered" style="margin-bottom: 0px;">
                <tbody>
                    <tr>
                        <th>Left</th>
                        <th>Middle</th>
                        <th>Right</th>
                    </tr>
                    <tr>
                        <td class="hw-selected">{{ session.game_state.round_pict_attack.left }}</td>
                        <td class="hw-selected">{{ session.game_state.round_pict_attack.middle }}</td>
                        <td class="hw-selected">{{ session.game_state.round_pict_attack.right }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
